body{
   margin: 0 5px;
   padding: 0;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/playa.jpg');
}

.h1{
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-family: Piedra;
    font-style: italic;
    margin-top: 0;
}

/* Estilos para el calendario */
#calendario {
   font-family: Piedra;
   width: 350px;
   margin: 20px 0;
}

/* Cabecera del mes */
.nombre-mes {
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 30px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-style: italic;
}

/* Cambia el color del numero cuando tiene un evento */
.event-day{
   color: red;
}

/* Boton de borrar evento 
.delete-event-button{ */
.boton-borrar {
    font-family: Piedra;
    border-radius: 20px;
    color: grey;
    font-style: italic;
    margin: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

.boton-editar{
    font-family: Piedra;
    border-radius: 20px;
    color: grey;
    font-style: italic;
    margin: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    
}

/* Boton para ir al mes anterior "◀" */
.mes-anterior {
   font-size: 13px;
   display: flex;
   flex-direction: row;
   padding: 10px 10px;
   margin-top: -40px;
   margin-bottom: 40px;
   margin-left: 8px;
   background-color: cyan;
   border: 3px solid black;
   border-radius: 10px ;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Boton para ir al mes siguiente "▶"*/
.mes-siguiente {
   font-size: 13px;
   display: flex;
   flex-direction: row;
   padding: 10px 10px;
   margin-left: 300px;
   margin-top: -85px;
   background-color: cyan;
   border: 3px solid black;
   border-radius: 10px;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Nombre de los dias de la semana */
.day-names {
   display: flex;
   font-family: Yellowtail;
   font-size: 18px;
/* Trazo grueso dias de la semana*/
   font-weight: bold;
}

.day-name {
   flex: 1;
   text-align: center;
   padding: 5px;
}

/* Forma para cuadriculas del calendario */
.days-grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 3px;
}

/*Los dias del mes para salir redondo y color de los numeros*/
.day {
   text-align: center;
   padding: 10px;
   border: 1px solid #ccc;
   font-style: italic;
   border-radius: 8px;
   font-size: 14px;
}

/* Color en el dia que estamos */
.current-day {
   background-color: black;
   border-radius: 50%;
   color: white;
   border: 3px solid red;
   box-shadow: 0 0 0 3px black;
   
}

/* Fondo de los dias del mes */
.selectable-day {
   background-color: floralwhite;
}

/* Color cuando selecciono un dia */
.selected-day {
   background-color: darkgrey;
}

/* Estilos para el formulario de cita y colocacion del formulario */
#appointment-form {
   display: none;
   flex-direction: column;
   align-items: center;
   margin: 0;
}

#appointment-form h1 {
   margin-bottom: 10px;
   font-family: Caveat;
   font-size: 35px;
}

#appointment-form label {
   margin-bottom: 5px;
}


/* Estilos para la lista de eventos que van debajo del calendario */
#event-list {
   
}
.event {
/* Arriba, derecha, abajo, izquierda */
    margin: 20px 10px 10px 4px;
    font-family: Lobster;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 5px;
    font-size: 17px;
}


/* Formato de Evento y Hora del formulario */
#selected-date,
#appointment-form {
   font-family: Piedra;
   font-style: italic;
   font-size: 20px;
}

/* Formato del ingreso de evento en formulario */
#ingresar-evento {
   font-family: Sriracha;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   font-style: italic;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Formato del ingreso de hora en formulario */
#boton-hora {
   font-family: Sriracha;
   border: none;
   border-radius: 5px;
   font-size: 0.9rem;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Boton 'guardar' del formulario */
#boton-guardar-form {
   font-family: Piedra;
   font-size: 17px;
   border-radius: 5px;
   margin: 0 10px;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Boton 'Atras' del formulario */
#boton-atras-form {
   font-family: Piedra;
   font-size: 17px;
   order: -1;
   border-radius: 5px;
   margin: 0 50px;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Estilos para el botón flotante */
.flotante {
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: navy;
   color: #fff;
   font-size: 30px;
   border: none;
   cursor: pointer;
   box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
   z-index: 999; /* Asegura que esté encima de otros elementos */
}
